JONGGU_DB_URL=jdbc:mysql://localhost:3306/jonggu_restaurant?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8&connectionCollation=utf8mb4_unicode_ci
JONGGU_DB_USERNAME=root
JONGGU_DB_PASSWORD=

JONGGU_SERVER_PORT=8080
JONGGU_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

GOOGLE_CREDENTIALS_PATH=./credentials/google-service-account.json
# Same spreadsheet ID for both ingredient/recipe tabs
GOOGLE_SHEETS_ID=
# Tab gid inside GOOGLE_SHEETS_ID spreadsheet
GOOGLE_SHEETS_INGREDIENT_GID=
GOOGLE_SHEETS_INGREDIENT_SHEET_NAME=
# Tab gid inside GOOGLE_SHEETS_ID spreadsheet
GOOGLE_SHEETS_RECIPE_GID=
GOOGLE_SHEETS_RECIPE_SHEET_NAME=
GOOGLE_SHEETS_REFRESH_CRON='2 6 * * * *'
