JONGGU_DB_URL=
JONGGU_DB_USERNAME=root
JONGGU_DB_PASSWORD=

JONGGU_SERVER_PORT=
JONGGU_ALLOWED_ORIGINS=

GOOGLE_CREDENTIALS_PATH=
# Same spreadsheet ID for both ingredient/recipe tabs
GOOGLE_SHEETS_ID=
# Tab gid inside GOOGLE_SHEETS_ID spreadsheet
GOOGLE_SHEETS_INGREDIENT_GID=
GOOGLE_SHEETS_INGREDIENT_SHEET_NAME=
# Tab gid inside GOOGLE_SHEETS_ID spreadsheet
GOOGLE_SHEETS_RECIPE_GID=
GOOGLE_SHEETS_RECIPE_SHEET_NAME=
GOOGLE_SHEETS_REFRESH_CRON='2 6 * * * *'
