JONGGU_DB_URL=
JONGGU_DB_USERNAME=root
JONGGU_DB_PASSWORD=

JONGGU_SERVER_PORT=
JONGGU_ALLOWED_ORIGINS=

GOOGLE_CREDENTIALS_PATH=
GOOGLE_SHEETS_ID=
GOOGLE_SHEETS_RECIPE_GID=
GOOGLE_SHEETS_RECIPE_SHEET_NAME=레시피
GOOGLE_SHEETS_REFRESH_CRON=2 6 * * * *
